@import "../common-imports";
.annual-report {
    margin: 6rem 0 5rem;
    @include media-breakpoint-up(md){
        margin: 9rem 0 8rem;
    }
    @include media-breakpoint-up(lg){
        margin: 11rem 0 10rem;
    }
    &-grid {
        h2 {
            margin-bottom: 3rem;
        }
        &:last-child{
            margin-bottom: -4.2rem;
            @include media-breakpoint-up(lg){
                margin-bottom: -6rem;

            }
        }
        
    }
    .pill-filter--btn{
       margin-top: 0;
       padding: 1.05rem 2rem;
       margin-bottom: 6rem;
    }
}
