@import '../common-imports';

.form-module-partner {
    padding-bottom: 12.9rem;

    @include media-breakpoint-up(md) {
        padding-bottom: 18.9rem;
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: 16.2rem;
    }

    &__icon {
        margin-bottom: 2.4rem;
        max-width: 9.6rem;
        margin-left: -3.6rem;

        @include media-breakpoint-up(md) {
            margin-left: 0;
        }

        @include media-breakpoint-up(lg) {
            max-width: 18.4rem;
            margin-bottom: 5rem;
        }

        img,
        .js-bodymoving {
            margin-top: -4.8rem;

            @include media-breakpoint-up(lg) {
                margin-top: -6.5rem;
            }
        }
    }

    .partners-form {
        @include media-breakpoint-between(md, lg) {
            margin-left: -0.4rem;
        }

        label {
            color: $secondary;
            @include media-breakpoint-down(sm) {
                margin-bottom: 0;
            }
        }

        .form-control {
            color: $secondary;
            border-color: $secondary;



            @include media-breakpoint-down(sm) {
                padding-top: 0;
            }
        }
    }

    h3 {
        font-weight: 600;
    }

    .text-light {
        color: $secondary !important;
    }

    &.bg-dark-green {
        .text-light {
            color: $light !important;
        }

        .partners-form {
            .form-control {
                color: $light;
                border-color: $light;
            }

            label {
                color: $light;
            }
        }
    }
}

.bg-dark-green {
    .form-module-partner {
        .text-light {
            color: $light !important;
        }
    }

    .partners-form {
        .form-control {
            color: $light;
            border-color: $light;
        }

        label {
            color: $light;
        }
    }
}
