@import '../common-imports';


.section-post {

    padding: 3rem 0 4rem;

    @include media-breakpoint-up(lg) {
        padding: 12.1rem 0 11.6rem;
    }

    h1 {
        font-size: 4rem;
        line-height: 4.4rem;
        @include media-breakpoint-up(md) {
            font-size: 4.8rem;
            line-height: 5.6rem;
        }
        @include media-breakpoint-up(lg) {
            font-size: 6rem;
            line-height: 6.8rem;
        }
    }

    .container {
        .row {
            justify-content: center;
            [class*="col-"] {
                @include media-breakpoint-between(md, lg) {
                    width: 83.33%;
                }
            }
        }
    }

    p {
        @include media-breakpoint-up(lg) {
            font-size: 2rem;
            line-height: 3rem;
        }
    }

}

.featured-icon {
    .js-bodymoving {
        margin-bottom: 0;
    }

    &--reverse {
        .featured-icon-figure {
            margin-top: -5.2rem;
            @include media-breakpoint-up(md) {
                margin-top: -7.2rem;
            }
            @include media-breakpoint-up(lg) {
                margin-top: -11.2rem;
            }
        }
    }
}

.chart {

    &-a {
        padding: 5rem 0 26rem;
        @include media-breakpoint-up(md) {
            padding: 7rem 0 29rem;
        }
        @include media-breakpoint-up(lg) {
            padding: 7rem 0 35rem;
        }
        @include media-breakpoint-up(xl) {
            padding: 11rem 0 46rem;
        }
        .container {
            overflow: hidden;
        }
    }

    &-b {
        padding: 5rem 0;
        @include media-breakpoint-up(md) {
            padding: 7rem 0;
        }
        @include media-breakpoint-up(lg) {
            padding: 6rem 0 13rem;
        }
        .container {
            overflow: hidden;
        }
    }

    &-c {
        padding: 5rem 0;
        @include media-breakpoint-up(md) {
            padding: 7rem 0;
        }
        @include media-breakpoint-up(lg) {
            padding: 14rem 0 8rem;
        }
        .container {
            overflow: hidden;
        }
    }

}

.quote-l-image-r {
    margin-top: -28rem;
    @include media-breakpoint-up(md) {
        margin-top: -37rem;
    }
    @include media-breakpoint-up(lg) {
        margin-top: -47rem;
    }
    @include media-breakpoint-up(xl) {
        margin-top: -53rem;
    }
    @media screen and (min-width: 1366px) {
        margin-top: -63rem;
    }
    @media screen and (min-width: 1700px) {
        margin-top: -78rem;
    }
}


