@import '../common-imports';

.section-post {

    .row {
        [class*="col-md-7"] {
            @include media-breakpoint-up(md) {
                width: 85%;
            }
            @include media-breakpoint-up(xl) {
                width: 59.33%;
            }
        }
    }

}


.lead-video {
    min-height: 31rem;
    @include media-breakpoint-up(lg) {
        min-height: 57.8rem;
    }
    .hero-content {
        @include media-breakpoint-down(md) {
            padding-bottom: 13rem;
        }
        @include media-breakpoint-up(md) {
            padding-bottom: 14rem;
            padding-top: 13rem;
        }
        .container {
            @include media-breakpoint-down(lg) {
                justify-content: center;
            }
        }
    }
    &-bg {
        display: none;
    }

    .hero-content button {
        margin-bottom: 0px;
    }

    .row {
        justify-content: center !important;
        [class*="col-md-6"] {
            display: none;
        }
    }

    .btn-circle {
        @include media-breakpoint-up(lg) {
            height: 9rem;
            width: 9rem;
        }
    }

}

.lead-video .hero-content .col-md-2 {
    @include media-breakpoint-down(lg) {
        width: auto;
        text-align: center !important;
    }
}

.cta-box-grid-x2-slider {
    margin: 5rem 0 0;
    @include media-breakpoint-up(lg) {
        margin-top: 0;
    }
    .card-cta-box {
        @include media-breakpoint-up(down) {
            margin: 0 auto;
        }
    }
}

.intro-text-cta {
    overflow-x: hidden;
    @include media-breakpoint-up(md) {
        padding-bottom: 0;
    }
}

.text-l-image-r {
    overflow-x: hidden;
}

.skillet-stories {
    .slider__wrap {
        @include media-breakpoint-down(md) {
            min-height: 57.5rem !important;
        }
    }
}
