@import '../common-imports';

.wide-image {
    @include media-breakpoint-down(md){
        padding-top: 14rem;
    }
    @include media-breakpoint-up(md){
        padding-top: 14.8rem;
    }
    @include media-breakpoint-up(lg){
        padding-top: 24rem;
    }
}

.bullettext-l-image-r {
    margin-top: -6rem;
    @include media-breakpoint-up(md) {
        margin-top: -12rem;
    }
    @include media-breakpoint-up(xl) {
        margin-top: -30.6rem;
        padding-bottom: 16.5rem;
    }

    &__text{
        @include media-breakpoint-down(lg){
            margin-top: 10rem;
        }
        @include media-breakpoint-down(md){
            margin-top: 5rem;
        }
        h2 {
            max-width: 295px;
            @include media-breakpoint-up(md) {
                max-width: 100%;
            }
        }
    }
}


.form-module-partner {
    z-index: 22;
    padding-bottom: 8.4rem;
    &::before {
        @include media-breakpoint-up(xl) {
            position: absolute;
            content: ""; 
            top: -50px;
            left: 0;
            height: 50px;
            width: 100%;
            background: #eae0d5;
        }
    }
    &__icon {
        @include media-breakpoint-up(xl) {
            position: relative;
        }
    }
}


