@import '../common-imports';

.js-single-slider {
    position: relative;
    position: relative;
    margin: 3.2rem 0;
    @include media-breakpoint-up(md) {
        margin: 4.8rem 0;
    }
    @include media-breakpoint-up(lg) {
        margin: 8.2rem 0;
    }
    .swiper-button-next,
    .swiper-button-prev {
        transition: all ease-in-out 0.2s;
        margin: 0;
        padding: 0;
        height: auto;
      
        color: $dark-green;
        font-size: 4rem;
        position: relative;
        &:after {
            display: none;
        }
        @include media-breakpoint-up(md) {
            font-size: 4rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        @include media-breakpoint-up(lg) {
            font-size: 6.6rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .swiper-button-next {
        @include media-breakpoint-up(md) {
            right: -6rem;
        }
        @include media-breakpoint-up(lg) {
            right: -10rem;
        }
        &:hover {
			@include media-breakpoint-up(md) {
				transform: translateX(1rem) translateY(-50%);
			}
		}
    }
    .swiper-button-prev {
        @include media-breakpoint-up(md) {
            left: -6rem;
        }
        @include media-breakpoint-up(lg) {
            left: -10rem;
        }
        &:hover {
			@include media-breakpoint-up(md) {
				transform: translateX(-1rem) translateY(-50%);
			}
		}
    }

    .slider-control-nav {
        position: relative;
        display: flex;
        justify-content: space-around;
        margin-top: 1.6rem;
        @include media-breakpoint-up(md) {
            margin: 0;
            position: static;
        }
    }
}

.single-slider {
 

    .swiper-wrapper {
        // overflow: hidden;
        border-radius: 15px;
    }

    .swiper-slide {
        overflow: hidden;
        border-radius: 15px;
    }
}

.single-slider {
    .slider__controls {
        position: relative;
        z-index: 12;
        margin: 0 auto;
        max-width: 100%;

        & .slider__pagination {
            text-align: center;
            margin-top: 2.2rem;
            position: relative;
            bottom: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            @include media-breakpoint-up(lg) {
                text-align: center;
            }

            & .swiper-pagination-bullet {
                width: 10px;
                height: 10px;
                display: inline-block;
                background: $sand;
                opacity: 0.8;
                margin: 0 9px;
                -webkit-border-radius: 20px;
                border-radius: 20px;
                transition: opacity 0.5s, background-color 0.5s, width 0.5s;
                transition-delay: 0.5s, 0.5s, 0s;
            }
        }

        & .swiper-pagination-clickable .swiper-pagination-bullet {
            cursor: pointer;
        }

        & .slider__pagination .swiper-pagination-bullet-active {
            opacity: 1;
            background: $yellow;
            width: 119px;
            -webkit-transition-delay: 0s;
            -o-transition-delay: 0s;
            transition-delay: 0s;
        }

        // & .slider__button-next,
        // .slider__button-prev {
        //     position: absolute;
        //     top: 50%;
        //     width: 4rem;
        //     height: 4rem;
        //     font-size: 4rem;
        //     margin-top: 28px;
        //     z-index: 10;
        //     cursor: pointer;
        //     -webkit-background-size: 42px 42px;
        //     background-size: 42px 42px;
        //     background-position: center;
        //     background-repeat: no-repeat;

        //     @include media-breakpoint-up(md) {
        //         margin-top: -22px;
        //         width: 44px;
        //         height: 44px;
        //         font-size: 44px;
        //         -webkit-background-size: 44px 44px;
        //         background-size: 44px 44px;
        //     }

        //     .icon-arrow-right,
        //     .icon-arrow-left {
        //         &::before {
        //             color: $white;
        //         }
        //     }
        // }

        // & .slider__button-prev {
        //     right: 55%;
        //     transition: all ease-in-out 0.2s;

        //     &:hover {
        //         @include media-breakpoint-up(md) {
        //             transform: translateX(-1rem);
        //         }
        //     }

        //     @include media-breakpoint-up(md) {
        //         right: 50%;
        //     }

        //     @include media-breakpoint-up(lg) {
        //         right: 92px;
        //     }

        //     @include media-breakpoint-down(md) {
        //         right: auto;
        //         left: calc(50% - 6.1rem);
        //         transform: translateX(-50%);
        //     }
        // }

        // & .slider__button-next {
        //     right: 25%;
        //     left: auto;
        //     transition: all ease-in-out 0.2s;

        //     &:hover {
        //         @include media-breakpoint-up(md) {
        //             transform: translateX(1rem);
        //         }
        //     }

        //     @include media-breakpoint-up(md) {
        //         right: 40%;
        //     }

        //     @include media-breakpoint-up(lg) {
        //         right: 0;
        //     }

        //     @include media-breakpoint-down(md) {
        //         right: auto;
        //         left: calc(50% + 6.1rem);
        //         transform: translateX(-50%);
        //     }
        // }

        // & .slider__button-prev:focus,
        // .slider__button-next:focus {
        //     outline: none !important;
        // }
    }
}
