@import "../common-imports";

.text-with-cta-box {
    padding: 23rem 0 3.2rem;
    z-index: 8;

    @include media-breakpoint-up(md) {
        padding: 11.1rem 0 2rem;
    }

    @include media-breakpoint-up(xl) {
        padding: 13.5rem 0 2rem;
    }

    p {
        position: relative;
    }

    .card-cta-box {
        position: absolute !important;
        top: -30.5rem;
        right: 0;
        margin: 0 3.5rem;
        max-width: 37rem;
        @include media-breakpoint-up(md) {
            top: -36rem;
            right: 1rem;
        }
        @include media-breakpoint-up(xl) {
            top: -39rem;
            right: 11rem;
        }
    }
    &.bg-dark-green{
        color: $light;
    }

}
