.ordered-list {
    padding-left: 2rem;
    li {
        list-style-type: disc;
        &:not(:last-child) {
            margin-bottom: 0.8rem;
            @include media-breakpoint-up(lg) {
                margin-bottom: 2rem;
            }
        }
        &::marker {
            color: $white;
        }
    }
    &__image {
        padding-left: 0;
        li {
            position: relative;
            list-style-type: none;
            padding-left: 4.4rem;
            @include media-breakpoint-up(md) {
                padding-left: 4.8rem;
            }
            &:not(:last-child) {
                margin-bottom: 2.5rem;
                @include media-breakpoint-up(lg) {
                    margin-bottom: 2rem;
                }
            }
            &::before {
                content: "";
                position: absolute;
                top: -0.4rem;
                left: 0;
                background-image: url("data:image/svg+xml,%3Csvg width='37' height='37' viewBox='0 0 37 37' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(.476 .648)' fill='none' fill-rule='evenodd'%3E%3Ccircle fill='%234FB075' cx='18' cy='18' r='18'/%3E%3Cg fill='%23FBFEF9' fill-rule='nonzero' stroke='%234FB075' stroke-width='.5'%3E%3Cpath d='M18.024 5c-6.909 0-12.5 5.59-12.5 12.5S11.115 30 18.024 30c6.91 0 12.5-5.59 12.5-12.5S24.934 5 18.024 5zm0 22.727c-5.636 0-10.227-4.59-10.227-10.227 0-5.636 4.59-10.227 10.227-10.227 5.637 0 10.227 4.59 10.227 10.227 0 5.636-4.59 10.227-10.227 10.227z'/%3E%3Cpath d='m21.751 13.682-5.227 5.227-2.227-2.227c-.455-.455-1.182-.455-1.591 0-.455.454-.455 1.182 0 1.59l3.045 3.046c.228.227.5.318.819.318.318 0 .59-.09.818-.318l6.045-6.045c.455-.455.455-1.182 0-1.591-.5-.455-1.227-.455-1.682 0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                background-size: 3.2rem 3.2rem;
                height: 3.2rem;
                width: 3.2rem;
                @include media-breakpoint-up(md) {
                    height: 3.6rem;
                    width: 3.6rem;
                    background-size: 3.6rem 3.6rem;
                }
            }
        }
    }
}