@import '../common-imports';

.tab {

	&-pane {

		h3,
		.h3,
		h1,
		.h1,
		h2,
		.h2,
		h4,
		.h4 {
			font-weight: $font-weight-semibold;
			margin-bottom: 0.8rem;

			@include media-breakpoint-up(md) {
				margin-bottom: 1.6rem;
			}

			@include media-breakpoint-up(md) {
				margin-bottom: 2.2rem;
			}
		}
		p{
			margin-bottom: 1.2rem;
			&:last-of-type{
				margin-bottom: 0;
			}
		}

	}
}
