.card-b06 {
    cursor: pointer;

    &-figure {
        min-height: 19.2rem;
        border-radius: 1.8rem;

        @include media-breakpoint-up(md) {
            flex: 0 0 38%;
            min-height: 12.4rem;
        }

        @include media-breakpoint-up(lg) {
            flex: 0 0 31.8%;
            min-height: 15rem;
        }

        img {
            border-radius: 1.8rem;
        }
    }

    &-content {
        .meta-date {
            text-transform: uppercase;

            @include media-breakpoint-down(lg) {
                font-size: 1.2rem;
            }
        }

        .subheadline-2-semibold {
            @include media-breakpoint-up(lg) {
                line-height: 3.6rem;
            }

            @include media-breakpoint-down(lg) {
                font-size: 1.8rem;
                line-height: 2.1rem;
            }
        }

        .meta-external {

            @include media-breakpoint-up(md) {
                opacity: 0.65;
            }
        }
    }

    &--video {
        .card-b06 {
            &-figure {
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $secondary;
                }

                .img-thumb {
                    opacity: 0.41;
                }

                .img-play {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 9;
                    cursor: pointer;
                    width: 4rem;
                    height: 4rem;
                    @include media-breakpoint-up(lg){
                        width: 6rem;
                        height: 6rem;
                    }
                }
            }
        }
    }

    &-footer {
        font-weight: $font-weight-semibold;
        padding-left: 2.8rem;
        margin-bottom: 0.6rem;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background-image: url("data:image/svg+xml,%0A%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group'%3E%3Crect id='Rectangle' fill='%2300524C' x='0' y='0' width='20' height='20' rx='3.33333333'%3E%3C/rect%3E%3Cpath d='M7.0350517,5.07990975 C6.8294556,5.18892173 6.71875,5.39137255 6.71875,5.62496965 L6.71875,14.3770744 C6.71875,14.6106715 6.84527068,14.8131223 7.0350517,14.9221343 C7.12994221,14.9844269 7.24064781,15 7.35135341,15 C7.462059,15 7.5727646,14.9688537 7.68347019,14.9065612 L15.08493,10.5305088 C15.2747111,10.4214968 15.3854167,10.219046 15.3854167,10.001022 C15.3854167,9.78299806 15.2747111,9.58054724 15.08493,9.47153526 L7.66765511,5.09548289 C7.462059,4.97089777 7.22483273,4.97089777 7.0350517,5.07990975 Z M14.7528133,10.001022 L14.7528133,10.001022 L7.33553832,14.3770744 L7.33553832,5.62496965 L14.7528133,10.001022 L14.7528133,10.001022 Z' id='Shape' stroke='%23FBFEF9' stroke-width='0.5' fill='%23FBFEF9' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            width: 2rem;
            height: 2rem;

            .bg-dark-green & {
                background-image: url("data:image/svg+xml,%0A%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group'%3E%3Crect id='Rectangle' fill='%23FBFEF9' x='0' y='0' width='20' height='20' rx='3.33333333'%3E%3C/rect%3E%3Cpath d='M7.0350517,5.07990975 C6.8294556,5.18892173 6.71875,5.39137255 6.71875,5.62496965 L6.71875,14.3770744 C6.71875,14.6106715 6.84527068,14.8131223 7.0350517,14.9221343 C7.12994221,14.9844269 7.24064781,15 7.35135341,15 C7.462059,15 7.5727646,14.9688537 7.68347019,14.9065612 L15.08493,10.5305088 C15.2747111,10.4214968 15.3854167,10.219046 15.3854167,10.001022 C15.3854167,9.78299806 15.2747111,9.58054724 15.08493,9.47153526 L7.66765511,5.09548289 C7.462059,4.97089777 7.22483273,4.97089777 7.0350517,5.07990975 Z M14.7528133,10.001022 L14.7528133,10.001022 L7.33553832,14.3770744 L7.33553832,5.62496965 L14.7528133,10.001022 L14.7528133,10.001022 Z' id='Shape' stroke='%2300524C' stroke-width='0.5' fill='%2300524C' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            }
        }
    }

    &--audio {
        .card-b06 {
            &-footer {
                &:before {
                    background-image: url("data:image/svg+xml,%0A%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group'%3E%3Crect id='Rectangle' fill='%2300524C' x='0' y='0' width='20' height='20' rx='3.33333333'%3E%3C/rect%3E%3Cg id='noun-audio-1161365' transform='translate(4.000000, 5.000000)' fill='%23FBFEF9' fill-rule='nonzero'%3E%3Cpath d='M6.30350794,0.103137004 C6.07030669,-0.0393531461 5.78584498,-0.0338663433 5.5573099,0.117529948 L2.5109564,2.16132797 L1.67894559,2.16132797 C0.751689544,2.16132797 0,2.9898346 0,4.01184932 L0,5.98573876 C0,7.00775349 0.751689544,7.83626011 1.67894559,7.83626011 L2.5109564,7.83626011 L5.55171341,9.88005814 C5.78217092,10.0346938 6.07041397,10.0401686 6.30556863,9.89437664 C6.54072329,9.74858467 6.68615943,9.47423601 6.68593469,9.17686003 L6.68593469,0.820728061 C6.68576603,0.522849155 6.5394785,0.248352941 6.30350794,0.103137004 Z M1.11929706,5.98573876 L1.11929706,4.01184932 C1.11929706,3.67117775 1.36986024,3.39500887 1.67894559,3.39500887 L2.14718486,3.39500887 L2.14718486,6.60257921 L1.67894559,6.60257921 C1.36986024,6.60257921 1.11929706,6.32641034 1.11929706,5.98573876 L1.11929706,5.98573876 Z M5.56663737,8.45310056 L3.26648192,6.89866263 L3.26648192,3.09892546 L5.56663737,1.55271206 L5.56663737,8.45310056 Z' id='Shape'%3E%3C/path%3E%3Cpath d='M7.81642446,2.84807701 C7.59819632,3.08890595 7.59819632,3.47904923 7.81642446,3.71987818 C8.45543553,4.42543134 8.45543553,5.56804448 7.81642446,6.27359764 C7.67513129,6.4304318 7.62048337,6.65843472 7.67306604,6.87171991 C7.72564871,7.0850051 7.87747341,7.25116946 8.07134924,7.3076205 C8.26522508,7.36407153 8.4716977,7.30223297 8.61299087,7.14539881 C9.68743179,5.95771989 9.68743179,4.03575593 8.61299087,2.84807701 C8.50783591,2.73066654 8.36439075,2.66457764 8.21470766,2.66457764 C8.06502458,2.66457764 7.92157941,2.73066654 7.81642446,2.84807701 L7.81642446,2.84807701 Z' id='Path'%3E%3C/path%3E%3Cpath d='M9.76027035,1.13737283 C9.54204222,1.37820177 9.54204222,1.76834505 9.76027035,2.009174 C11.2542542,3.6613396 11.2542542,6.33419235 9.76027035,7.98635796 C9.55479811,8.22940112 9.56086096,8.60814113 9.77398413,8.8430439 C9.9871073,9.07794668 10.3307315,9.0846291 10.5512403,8.85815913 C12.4829199,6.72409779 12.4829199,3.26937803 10.5512403,1.13531669 C10.3322261,0.895354306 9.97825519,0.896274457 9.76027035,1.13737283 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

                    .bg-dark-green & {
                        background-image: url("data:image/svg+xml,%0A%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group'%3E%3Crect id='Rectangle' fill='%23FBFEF9' x='0' y='0' width='20' height='20' rx='3.33333333'%3E%3C/rect%3E%3Cg id='noun-audio-1161365' transform='translate(4.000000, 5.000000)' fill='%2300524C' fill-rule='nonzero'%3E%3Cpath d='M6.30350794,0.103137004 C6.07030669,-0.0393531461 5.78584498,-0.0338663433 5.5573099,0.117529948 L2.5109564,2.16132797 L1.67894559,2.16132797 C0.751689544,2.16132797 0,2.9898346 0,4.01184932 L0,5.98573876 C0,7.00775349 0.751689544,7.83626011 1.67894559,7.83626011 L2.5109564,7.83626011 L5.55171341,9.88005814 C5.78217092,10.0346938 6.07041397,10.0401686 6.30556863,9.89437664 C6.54072329,9.74858467 6.68615943,9.47423601 6.68593469,9.17686003 L6.68593469,0.820728061 C6.68576603,0.522849155 6.5394785,0.248352941 6.30350794,0.103137004 Z M1.11929706,5.98573876 L1.11929706,4.01184932 C1.11929706,3.67117775 1.36986024,3.39500887 1.67894559,3.39500887 L2.14718486,3.39500887 L2.14718486,6.60257921 L1.67894559,6.60257921 C1.36986024,6.60257921 1.11929706,6.32641034 1.11929706,5.98573876 L1.11929706,5.98573876 Z M5.56663737,8.45310056 L3.26648192,6.89866263 L3.26648192,3.09892546 L5.56663737,1.55271206 L5.56663737,8.45310056 Z' id='Shape'%3E%3C/path%3E%3Cpath d='M7.81642446,2.84807701 C7.59819632,3.08890595 7.59819632,3.47904923 7.81642446,3.71987818 C8.45543553,4.42543134 8.45543553,5.56804448 7.81642446,6.27359764 C7.67513129,6.4304318 7.62048337,6.65843472 7.67306604,6.87171991 C7.72564871,7.0850051 7.87747341,7.25116946 8.07134924,7.3076205 C8.26522508,7.36407153 8.4716977,7.30223297 8.61299087,7.14539881 C9.68743179,5.95771989 9.68743179,4.03575593 8.61299087,2.84807701 C8.50783591,2.73066654 8.36439075,2.66457764 8.21470766,2.66457764 C8.06502458,2.66457764 7.92157941,2.73066654 7.81642446,2.84807701 L7.81642446,2.84807701 Z' id='Path'%3E%3C/path%3E%3Cpath d='M9.76027035,1.13737283 C9.54204222,1.37820177 9.54204222,1.76834505 9.76027035,2.009174 C11.2542542,3.6613396 11.2542542,6.33419235 9.76027035,7.98635796 C9.55479811,8.22940112 9.56086096,8.60814113 9.77398413,8.8430439 C9.9871073,9.07794668 10.3307315,9.0846291 10.5512403,8.85815913 C12.4829199,6.72409779 12.4829199,3.26937803 10.5512403,1.13531669 C10.3322261,0.895354306 9.97825519,0.896274457 9.76027035,1.13737283 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                    }
                }
            }
        }
    }
}
