.card-cta-box {
    padding: 3.4rem 2.5rem 4.4rem;
    border-radius: 1.8rem;
    max-width: 37rem;
    border: 0.2rem solid $sand;
    cursor: pointer;

    @include media-breakpoint-up(md) {
        padding: 3.4rem 4.5rem 2.6rem;
    }

    @include media-breakpoint-up(lg) {
        padding: 3.4rem 4.2rem;
    }

    .btn-outline {
        padding: 1.3rem 2.1rem;

        @include media-breakpoint-up(md) {
            padding: 1.7rem 3.5rem;
        }

        @include media-breakpoint-up(lg) {
            padding: 2rem 4.4rem;
        }
    }

    .body-4 {
        font-weight: 500;
        padding: 0 2.8rem;
        font-size: 1.6rem;
        line-height: normal;
    }

    .body-3 {
        color: $secondary;
    }

    &__mask {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 1.8rem;
        z-index: -1;
        // opacity: 0.55;
        transform: rotate(-10deg);
        transition: all 0.3s ease;
        // background: $sand;
        background: #ded1c1;
    }

    &:hover {
        @include media-breakpoint-up(md) {
            border-color: $yellow;

            .card-cta-box__mask {
                background-color: $yellow;
            }
        }
    }
}
