.card-flip {
    height: 29rem;

    &__front {
        padding: 3rem 8rem 4.8rem 3.6rem;
        border-radius: 1.3rem;
        height: 29rem;
        color: $secondary;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transition: ease-in-out 600ms;
        @include media-breakpoint-up(lg) {
            padding: 3.6rem 12rem 4.8rem 3.6rem;
        }
    }

    &__back {
        padding: 3rem 3.6rem 4.8rem 2.4rem;
        border-radius: 1.3rem;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform: rotateY(-180deg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transition: ease-in-out 600ms;
        @include media-breakpoint-up(md) {
            padding-right: 4.5rem;
        }
        @include media-breakpoint-up(lg){
            padding-right: 7.6rem;
        }
        @include media-breakpoint-up(lg){
            padding: 3.6rem 5rem 4.8rem 3.6rem;
        }

        .eyebrow-1 {
            padding-right: 8rem;
            @include media-breakpoint-up(md) {
                padding-right: 110px;
            }
            @include media-breakpoint-up(xl) {
                padding-right: 150px;
            }
        }

        &__content {
            overflow-y: auto;
            padding-right: 2rem;

            &::-webkit-scrollbar-track{
                background-color: #f7f7f7;
                border-radius: 10px;
            }
            
            &::-webkit-scrollbar{
                width: 6px;
                background-color: transparent;
            }
            
            &::-webkit-scrollbar-thumb{
                border-radius: 10px;
                background-color: $primary;
            }

            h1, h2, h3, h4, h5, h6 {
               font-size: 1.6rem;
               line-height: 2rem;
               margin: 0 0 0.4rem; 
               font-family: 'Basier Circle';
               @include media-breakpoint-up(lg) {
                    font-size: 2rem;
                    line-height: 2.4rem;
                    margin: 0 0 0.8rem; 
               }
            }
            p {
                margin: 0;
                font-size: 1.6rem;
                line-height: 2.2rem;
                @include media-breakpoint-up(lg) {
                    font-size: 1.8rem;
                    line-height: 2.4rem;
                }
                & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
                    margin-top: 1.6rem;
                    @include media-breakpoint-up(lg) {
                        margin-top: 2.8rem;
                    }
                }
            }
        }

        ul {
            li {
                line-height: 2rem;
                font-weight: 500;
                @include media-breakpoint-up(lg) {
                    line-height: 2.4rem;
                }
                @include media-breakpoint-down(lg){
                    font-size: 1.6rem;
                    padding-right: 10%;
                }
                @include media-breakpoint-down(md){
                    padding-right: 0;
                }
                &:not(:last-child) {
                    margin-bottom: 1.6rem;
                    @include media-breakpoint-up(lg) {
                        margin-bottom: 2.8rem;
                    }
                }
                p {
                    margin: 0.4rem 0 0;
                    font-weight: normal;
                    @include media-breakpoint-up(lg) {
                        margin: 0.8rem 0 0;
                    }
                }
            }
        }
    }

    &__rightarrow,
    &__closearrow {
        display: block;
        max-width: 4rem;
        position: absolute;
        top: 2.4rem;
        right: 2.5rem;

        @include media-breakpoint-up(lg) {
            top: 3rem;
            max-width: 4.8rem;
            right: 3.5rem;
        }

    }

    
    &.active {
        .card-flip__front {
            transform: rotateY(180deg);
        }
        .card-flip__back {
            transform: rotateY(0deg);
        }
    }


}
