<section class="image-bl-text-r">
    <div class="image-bl-text-r__bg">
        <svg width="1441" height="734" viewBox="0 0 1441 734" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M790.337 349.415C645.573 349.415 312.625 302.872 0 522.5V716C180.965 523.01 395.669 397.181 790.337 349.415Z"
                fill="#4FB075" />
            <path class="quote-svg-bg" fill-rule="evenodd" clip-rule="evenodd"
                d="M1441 0.360107C1384.39 282.485 1131.13 353.543 866.331 349.79C601.534 346.037 192.965 349.688 2.84314e-05 671V734C107.798 734 588.578 734 1441 734V0.360107Z"
                fill="#eae0d5" />
        </svg>
        @@if (bodyMoving === true) {
            <div class="bodymoving">
                <div class="js-bodymoving" data-path="@@bodyMovingPath"></div>
            </div>
        }
        @@if (bodyMoving === false) {
            <img src="images/icon-training@2x.png" alt="Image Training">
        }
    </div>
    <div class="image-bl-text-r__wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 col-lg-5">
                    <div class="image-bl-text-r__left sticky-md-top">
                        <figure class="thumbnail-img">
                            <img src="images/img_networks@2x.png" alt="Thumbnail Image">
                        </figure>
                        <figcaption>Lorem ipsum image credit dolor</figcaption>
                    </div>
                </div>
                <div class="col-md-7 col-lg-7 col-xl-6">
                    <div class="image-bl-text-r__right">
                        <h3>Trainings</h3>
                        <p>
                            Take advantage of the unique, in-depth opportunities we offer alumni, giving you the tools you need to advance along our six identified career paths. Our onsite and remote programs include seminars on career development; subject-specific conferences, trainings, and webinars; online courses; and mentorship opportunities.
                        </p>
                        <p class="body-1">BIPOC alumni convenings</p>
                        <p>
                            Every other year, FoodCorps convenes a cohort of our Multiracial, Native/Indigenous, and Alumni of Color to facilitate network-building and develop leadership skills. Click here to learn more about how to sign up, and to read more about convenings from previous years.
                        </p>
                        <h3>Networks</h3>
                        <p>
                            Every other year, FoodCorps convenes a cohort of our Multiracial, Native/Indigenous, and Alumni of Color to facilitate network-building and develop leadership skills. Click here to learn more about how to sign up, and to read more about convenings from previous years.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
