
<section class="resources-link-grid bg-light position-relative">
    <div class="container">
        <div class="row">
            <div class="col-md-11 col-lg-6">
                @@if (bodyMoving === true) {
                    <figure class="bodymoving thumbnail-img header-icon">
                        <div class="js-bodymoving" data-path="@@bodyMovingPath"></div>
                    </figure>
                }
                @@if (bodyMoving === false) {
                    <figure class="thumbnail-img header-icon">
                        <img src="images/icon-power@2x.png" alt="Icon Power">
                    </figure>
                }
                <h2 class="mb-4 mb-lg-5">The movement</h2>
                <p>
                    We’re not alone in working to change the system. Here are some of the many organizations that inspire us and our work every day.
                </p>
            </div>
        </div>
        <div class="card-resource__listing">
            <article class="card-resource">
                <a href="#">
                    <figure class="thumbnail-img card-resource__thumb">
                        <img src="images/fpo-resource-img@2x.png" alt="FPO Resource">
                    </figure>
                    <div class="card-resource__content">
                        <p class="body-1 mb-1">
                            Lorem resource headline dolor ist amet
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor quis nostrud exercitation ullamco enim ad minim veniam, quis nostrud exercitation.
                        </p>
                    </div>
                </a>
            </article>
            <article class="card-resource">
                <a href="#">
                    <figure class="thumbnail-img card-resource__thumb">
                        <img src="images/fpo-resource-img@2x.png" alt="FPO Resource">
                    </figure>
                    <div class="card-resource__content">
                        <p class="body-1 mb-1">
                            Lorem resource headline dolor ist amet
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor quis nostrud exercitation ullamco enim ad minim veniam, quis nostrud exercitation.
                        </p>
                    </div>
                </a>
            </article>
            <article class="card-resource">
                <a href="#">
                    <figure class="thumbnail-img card-resource__thumb">
                        <img src="images/fpo-resource-img@2x.png" alt="FPO Resource">
                    </figure>
                    <div class="card-resource__content">
                        <p class="body-1 mb-1">
                            Lorem resource headline dolor ist amet
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor quis nostrud exercitation ullamco enim ad minim veniam, quis nostrud exercitation.
                        </p>
                    </div>
                </a>
            </article>
            <article class="card-resource">
                <a href="#">
                    <figure class="thumbnail-img card-resource__thumb">
                        <img src="images/fpo-resource-img@2x.png" alt="FPO Resource">
                    </figure>
                    <div class="card-resource__content">
                        <p class="body-1 mb-1">
                            Lorem resource headline dolor ist amet
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor quis nostrud exercitation ullamco enim ad minim veniam, quis nostrud exercitation.
                        </p>
                    </div>
                </a>
            </article>
            <article class="card-resource">
                <a href="#">
                    <figure class="thumbnail-img card-resource__thumb">
                        <img src="images/fpo-resource-img@2x.png" alt="FPO Resource">
                    </figure>
                    <div class="card-resource__content">
                        <p class="body-1 mb-1">
                            Lorem resource headline dolor ist amet
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor quis nostrud exercitation ullamco enim ad minim veniam, quis nostrud exercitation.
                        </p>
                    </div>
                </a>
            </article>
            <article class="card-resource">
                <a href="#">
                    <figure class="thumbnail-img card-resource__thumb">
                        <img src="images/fpo-resource-img@2x.png" alt="FPO Resource">
                    </figure>
                    <div class="card-resource__content">
                        <p class="body-1 mb-1">
                            Lorem resource headline dolor ist amet
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor quis nostrud exercitation ullamco enim ad minim veniam, quis nostrud exercitation.
                        </p>
                    </div>
                </a>
            </article>
            <article class="card-resource">
                <a href="#">
                    <figure class="thumbnail-img card-resource__thumb">
                        <img src="images/fpo-resource-img@2x.png" alt="FPO Resource">
                    </figure>
                    <div class="card-resource__content">
                        <p class="body-1 mb-1">
                            Lorem resource headline dolor ist amet
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor quis nostrud exercitation ullamco enim ad minim veniam, quis nostrud exercitation.
                        </p>
                    </div>
                </a>
            </article>
            <article class="card-resource">
                <a href="#">
                    <figure class="thumbnail-img card-resource__thumb">
                        <img src="images/fpo-resource-img@2x.png" alt="FPO Resource">
                    </figure>
                    <div class="card-resource__content">
                        <p class="body-1 mb-1">
                            Lorem resource headline dolor ist amet
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor quis nostrud exercitation ullamco enim ad minim veniam, quis nostrud exercitation.
                        </p>
                    </div>
                </a>
            </article>
            <article class="card-resource">
                <a href="#">
                    <figure class="thumbnail-img card-resource__thumb">
                        <img src="images/fpo-resource-img@2x.png" alt="FPO Resource">
                    </figure>
                    <div class="card-resource__content">
                        <p class="body-1 mb-1">
                            Lorem resource headline dolor ist amet
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor quis nostrud exercitation ullamco enim ad minim veniam, quis nostrud exercitation.
                        </p>
                    </div>
                </a>
            </article>
            <article class="card-resource">
                <a href="#">
                    <figure class="thumbnail-img card-resource__thumb">
                        <img src="images/fpo-resource-img@2x.png" alt="FPO Resource">
                    </figure>
                    <div class="card-resource__content">
                        <p class="body-1 mb-1">
                            Lorem resource headline dolor ist amet
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor quis nostrud exercitation ullamco enim ad minim veniam, quis nostrud exercitation.
                        </p>
                    </div>
                </a>
            </article>
        </div>
        <div class="linked-text">
            <div class="row justify-content-center text-center">
                <div class="col-md-8 col-lg-4">
                    <p class="body-1 mb-4 mb-lg-7">
                        Let us know about an organization you’d like to see on this list.
                    </p>
                    <a href="mailto:advocacy@foodcorps.org" class="link-text link-primary link-wobble" title="title">advocacy@foodcorps.org</a>
                </div>
            </div>
        </div>
    </div>
</section>
